<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        h1 {
            text-align: center;
        }

    </style>
</head>
<body>

{% extends 'base.html' %}

{% block content %}

    <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>

    <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
        {% for item in directory.get_children()["folders"] %}

            <li>
                <a href="{{ url_for('enter_folder', user_flast=session['flast']) }}">{{ item }}</a>
            </li>

        {% endfor %}

        {% for item in directory.get_children()["files"] %}

            <li>
                <a href="#">{{ item }}</a>
            </li>

        {% endfor %}
    </ul>



{% endblock %}


</body>
</html>